$menu-color: #f788ad;

@mixin header-link{
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;
}

@mixin header-border($size:2px) {
    border-bottom: solid $size $menu-color;
}

.header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    &__logo {
        @include header-link;
        font-size: 3rem;
        padding-bottom: 25px;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    &__item-link {
        @include header-link;

        &--is-active {
            @include header-border(4px);
        }

        &:hover {
            @include header-border;
        }
    }

    &__searchBar {
        border-radius: 50px;
        background: #666666;
        border: 2px solid $menu-color;
        width: 350px;
        margin: 25px 0px 0px 25px;

        &::placeholder {
            color: $menu-color;
            opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $menu-color;
          }

        &:focus {
            color: $menu-color;
        }
    }
}

