.product-details {
    position: relative;
    margin-top: 135px;
    margin-bottom: 50px;
    padding-left: 25px;

    &__btn-comprar {
        color: white;
        background-color: #f788ad;
        border: none;
        border-radius: 10px;
        padding: 7px 12px 7px 12px;
    }
    &__p{
        &--price {
            font-size: xx-large;
        }
        &--sku {
            font-size: small;
            color: #555555;
        }        
    }
}
